
*{
				margin:0;
				padding:0;
				}
/*16px=12pt=100%=1em*/

body{
				backgroung:#000000;
				color:#e8ffff;
				}
h1{
				color:#5df4ff;
				margin:#0.25em auto;
				text-align:center;
				text-shadow:#46ff49 5px 5px 10px 
				rgba(255,255,255,0.5);
				}
header, nav, footer{
				background:#000000;
				border-radius:0.5em;
				margin:0.5em auto;
				max-width:960px;
				padding:0.25em;
				text-align:center;
				}
section #contenedor{
				background:#caff74;
				margin:0.5em auto;
				max-width:960px;
				padding:0;
				text-align:center;
				}
section #principal, aside{
				background:#ffe8ff;
				border-radius:0.5em;
				display:inline-block;
				min-height:200px;
				padding:0.25em;
				text-align:center;
				vertical-align:top;
				width:65%;
				}
article{
				background:#ff9546;
				border-radius:0.5em;
				min-height:140px;
				padding:0.25em;
				}
aside{
				width:30%;
				}
				
